<style>
    .body{
        background-color: rgb(16, 15, 24);
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        align-items: center;
        text-align: center;
        transform: translate(0, 25%);
    }
    body{
        background-color: rgb(16, 15, 24);
    }
    .results{
        color: aliceblue;
    }
    input{
        background-color: transparent;
        color: white;
        padding: 0.5em;
        border: solid;
        border-radius: 0.5em;
        width: 50em;
        border-color: aqua;
    }
    h1{
        color:rgb(252, 252, 252);
    }
    img{
        width: 10em;
        height: 10em;
        margin: 1em;
    }
    .navebar{
        transform: translate(0,0);
        background-color: aqua;
        padding: 0.5em;
        display: flex;
        justify-content: center;
        column-gap: 2em;
        font-weight: bold;
    }
    a{
        color: black;
        text-decoration: none;
    }

</style>
<body>
    <div class="navebar">
        <a href="{% url 'api:links' %}">Search for Links</a>
        <a href="{% url 'api:images' %}">Search for images</a>
        <a href="{% url 'api:pdfs' %}">Search for PDFs</a>
        <a href="{% url 'api:home' %}">Home</a>
    </div>
    <div class="body">
        <h1>Search Images</h1>
        <div class="input-group mb-3 search">
            <form action="{% url 'api:images' %}" method="post">
                {% csrf_token %}
                {{ form }} 
                <input style="width: 5em" class="submit" type="submit">
            </form>
        </div>
        <div class="results">
            <ol>
                {% for image in images %}
                    <span>
                        <img src="{{ image }}">
                    </span>
                {% endfor %}
            </ol>
        </div>
    </div>
</body>